<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/CRUD.js"></script>
    <script type="text/javascript" src="javascripts/dom.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="myDIV" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <div id="add">
        <input type="text" name="title" id="ADDtitle" placeholder="Title" autofocus required/>
        <input type="text" name="dateBegin" id="ADDdateBegin" class="dateInput" placeholder="Date begin 01/01/2020"
               required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
        <input type="text" name="dateEnd" id="ADDdateEnd" class="dateInput" placeholder="Date end"
               pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required/>
        <select id="ADDstatut" placeholder="Statut" required>
            <option value="Non précisée">Non précisée</option>
            <option value="Tâche requise">Tâche requise</option>
            <option value="En cours">En cours</option>
            <option value="Achevée">Achevée</option>
            <option value="Annulée">Annulée</option>
        </select>
        <input type="text" name="tags" id="ADDtags" placeholder="Tags" required/>
    </div>
    <button type="button" onclick="add()" class="addBtn">Add</button>
</div>
<div style="margin: 20px;display: flex;flex-direction: column;">
    <div id="statut">
        <div class="statut">Non précisé: <input type="checkbox" id="non_precise"></div>
        <div class="statut">Tâche requise: <input type="checkbox" id="tache_requise"></div>
        <div class="statut"> En cours : <input type="checkbox" id="en_cours" value=" En cours"></div>
        <div class="statut"> Achevée : <input type="checkbox" id="achevee" value="Achevée"></div>
        <div class="statut">Annulée : <input type="checkbox" id="annulee" value="Annulée"></div>
    </div>
    <input type="text" name="tags" id="searchTags" placeholder="Tags separated by ','" style="background-color: aliceblue;"/>
    <button type="button" onclick="statut()">Search</button>
</div>

<ul id="myUL">

    <% todolist.forEach(function(todo) { %>
        <li id="<%= todo.id %>">
            <button type="button" class="collapsible"><%= todo.title %> </button>
            <div class="content">
                <div class="input"><label for="title">Titre de la tâche</label>
                    <input class="form" type="text" name="title" id="title_<%= todo.id %>" value="<%= todo.title %>"
                           disabled
                           autofocus required/>
                </div>
                <div class="input">
                    <label for="dateEnd">Date de début de la tâche</label>
                    <input class="form" type="text" name="dateBegin" class="dateInput" id="dateBegin_<%= todo.id %>"
                           value="<%= todo.dateBegin %>"
                           disabled required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
                </div>
                <div class="input">
                    <label for="dateEnd">Date d'échéance de la tâche</label>
                    <input class="form" type="text" name="dateEnd" class="dateInput" id="dateEnd_<%= todo.id %>"
                           value="<%= todo.dateEnd %>" disabled required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
                </div>
                <div class="input">
                    <label for="statut">Degré d'avancement</label>
                    <input class="form" type="text" name="statut" id="statut_<%= todo.id %>" value="<%= todo.statut %>"
                           disabled required/>
                </div>
                <div class="input">
                    <label for="tags">Liste de catégories</label>
                    <input class="form" type="text" name="tags" id="tags_<%= todo.id %>" value="<%= todo.tags %>"
                           disabled required/>
                </div>
            </div>
        </li>
    <% }); %>
</ul>
</body>
</html>
